@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

/* Add these styles for better cursor interaction */
a,
button,
[role="button"] {
  @apply cursor-none;
}

a:hover,
button:hover,
[role="button"]:hover {
  @apply cursor-none;
}
